
.semiContainer .right .radio-button-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.semiContainer .right .radio-button-container div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.semiContainer .right .radio-button-container div input{
    height: 15px;
    width: 15px;
    accent-color: rgb(239,79,95);
}

.semiContainer .right .input-container{
    display: flex;
    gap: 0.5rem;
}

.input-container{
    flex: wrap;
    padding-right: 1100px;
}

.input-container button, .input-container input{
    padding: 10px 12px;

}



.input-container input {
    flex: auto;
    border: 1.5px solid grey;
    outline: none;
    border-radius: 5px;
}

.input-container button{
    border: none;
    background-color: rgb(239,79,95);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.right .download-app-container{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.download-app-container h5{
    font-weight: 400;
    color: grey;
}

.download-app-container div{
    display: flex;
    gap: 1rem;
}

.download-app-container div img{
    width: 35%;
}



.footer{
    width: 100%;
}

.footer-section1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.footer-section1 img{
    width: 120px;
}

.section1-buttoncontainer{
    display: flex;
    gap: 1rem;
}

.section1-buttoncontainer button{
    padding: 5px 5px;
    width: 90px;
    border: 1px solid grey;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    cursor: pointer;
}

.navigation-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    margin: auto;
    gap: 1rem;
    padding: 3rem 0;
}


.link-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.link-container h5{
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
    letter-spacing: 0.8px;

}

.footer-link{
    text-decoration: none;
    color: grey;
    font-size: 13px;
    font-weight: 300;
}

.footer-link:hover{
    color: black;
}


.social-links-container{
    display: flex;
    gap: 0.5rem;

}

.social-links-container button{
    background-color: black;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.social-links-container button i{
    color: white;
    font-size: 13px;
}

.footer-section-logo{
    width: 100%;
}

.disclaimer{
    background: #2980b9;
    width: 90%;
    margin: auto;
    color: lemonchiffon;
    font-size: 12px;
    border-top: 1px solid grey;
    padding-top: 2rem;
}



@media only screen and (max-width: 900px){
    .navigation-container{
        grid-template-columns: repeat(3,1fr);
    }

.we-offer{
    grid-template-columns: repeat(2, minmax(0, 1fr));
}


}

@media only screen and (max-width: 600px){
    .navigation-container{
        grid-template-columns: repeat(2,1fr);
    }


}

@media only screen and (max-width: 450px){
    .navigation-container{
        grid-template-columns: repeat(1,1fr);
    }

    .we-offer{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}


@media only screen and (max-width: 600px){
    .navbar-menu-container a{
        display: none;
    }

    .navbar-menu-container .user-icon{
        display: flex;
    }

    .navbar{
        padding: 16px 16px;
    }

    .hero-section{
        min-height: 80vh;
    }

    .hero-section-input-container{
        flex-direction: column;
        background-color: transparent;
        width:100%;
    }

    .input-container-search , .input-container-location{
        padding:15px;
        border-radius: 10px;
        width:95%;
    }

    .hero-section-container{
        min-height: calc(80vh - 60px);
    }

    .hero-section-title{
        font-size: 20px;
        width: 95%;
    }

}

@media only screen and (max-width: 1300px){

    .get-the-app .semiContainer .left, .get-the-app .semiContainer .right{
        flex: 1;
    }

    .get-the-app .semiContainer{
        width: 80%;
    }
}

@media only screen and (max-width: 900px){

    .get-the-app{
        padding: 2rem;
     }

    .get-the-app .semiContainer{
        width: 90%;
    }
}

@media only screen and (max-width: 700px){

    .get-the-app{
        padding: 3rem 0;
    }

    .get-the-app .input-container{
        flex-direction: column;
    }

    .get-the-app .semiContainer{
        width: 80%;
        flex-direction: column;
    }

} 